# Assignment 06
## Name: Matt Briskey

In [6]:
# load the data
import pandas as pd
import numpy as np

#Load data into the data frame
df = pd.read_csv('https://raw.githubusercontent.com/MattBriskey/data612_data_mining/main/space_missions.csv', low_memory=False, encoding="ISO-8859-1")
df.head(10) #Shows the first 10 rows

,UID,Company,Location,Date,Time,Rocket,Mission,RocketStatus,Price,MissionStatus
0,1,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",10/4/1957,19:28:00,Sputnik 8K71PS,Sputnik-1,Retired,NaN,Success
1,2,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",11/3/1957,2:30:00,Sputnik 8K71PS,Sputnik-2,Retired,NaN,Success
2,3,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",12/6/1957,16:44:00,Vanguard,Vanguard TV3,Retired,NaN,Failure
3,4,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA",2/1/1958,3:48:00,Juno I,Explorer 1,Retired,NaN,Success
4,5,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",2/5/1958,7:33:00,Vanguard,Vanguard TV3BU,Retired,NaN,Failure
5,6,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA",3/5/1958,18:27:00,Juno I,Explorer 2,Retired,NaN,Failure
6,7,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",3/17/1958,12:15:00,Vanguard,Vanguard 1,Retired,NaN,Success
7,8,AMBA,"LC-5, Cape Canaveral AFS, Florida, USA",3/26/1958,17:38:00,Juno I,Explorer 3,Retired,NaN,Success
8,9,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",4/27/1958,9:01:00,Sputnik 8A91,Sputnik-3 #1,Retired,NaN,Failure
9,10,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",4/28/1958,2:53:00,Vanguard,Vanguard TV5,Retired,NaN,Failure

In [7]:
#Check the data types of each column
print(df.dtypes)

UID               int64
Company          object
Location         object
Date             object
Time             object
Rocket           object
Mission          object
RocketStatus     object
Price            object
MissionStatus    object
dtype: object

In [9]:
# Convert UID to string
df['UID'] = df['UID'].astype(str)

In [10]:
#Check the data type of UID after converting it to a String
print(df.dtypes)

UID              object
Company          object
Location         object
Date             object
Time             object
Rocket           object
Mission          object
RocketStatus     object
Price            object
MissionStatus    object
dtype: object

In [13]:
# Convert MissionStatus to string
df['MissionStatus'] = df['MissionStatus'].astype('category')

In [14]:
#Check the data type of MissionStatus after converting it to a Category
print(df.dtypes)

UID                object
Company            object
Location           object
Date               object
Time               object
Rocket             object
Mission            object
RocketStatus       object
Price              object
MissionStatus    category
dtype: object

In [19]:
# Show the possible values for the MissionStatus column
print(df["MissionStatus"].cat.categories)

Index(['Failure', 'Partial Failure', 'Prelaunch Failure', 'Success'], dtype='object')