# Assignment 02
## Name: Matt Briskey

In [21]:
# load the data
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/stock_data/stocks_yahoo.csv', low_memory=False)
df

,no,date,company_name,price_at_close,price_change,price_after_hours,previous_close,today opened,price range,52 week range,volume,average volume,market cap,beta (3Y Monthly),PE Ratio,EPS,earnings date,Dividend Yield,1Y target est
0,1,Nov 21 2019,GOOG - Alphabet Inc.,1301.35,-1.70 (-0.13%),1301.35,1303.05,1301.48,"1,293.01 - 1,312.45","970.11 - 1,335.53",825205.00,1280155.0,897.113B,1.01,27.93,46.60,NaN,N/A (N/A),1487.52
1,2,Nov 21 2019,GOOGL - Alphabet Inc.,1300.14,-1.72 (-0.13%),1300.14,1301.86,1299.25,"1,290.75 - 1,311.04","977.66 - 1,333.92",1058179.00,1296875.0,897.098B,1.01,27.90,46.60,"Feb 3, 2020 - Feb 7, 2020",N/A (N/A),1459.33
2,3,Nov 21 2019,IBM - International Business Machines Corporation,133.84,+0.64 (+0.48%),133.84,133.20,133.40,132.98 - 134.17,105.94 - 152.95,2732256.00,3483052.0,118.534B,1.34,15.55,8.60,21-Jan-20,6.48 (4.86%),148.30
3,4,Nov 21 2019,MSFT - Microsoft Corporation,149.48,-0.14 (-0.09%),149.48,149.62,149.40,148.51 - 149.80,93.96 - 151.33,16125077.00,22813109.0,1.14T,1.23,28.20,5.30,"Jan 28, 2020 - Feb 3, 2020",2.04 (1.36%),160.16
4,5,Nov 21 2019,AAPL - Apple Inc.,262.01,-1.18 (-0.45%),262.01,263.19,263.69,261.18 - 264.01,142.00 - 268.00,28768117.00,25813040.0,1.184T,1.25,22.04,11.89,"Jan 27, 2020 - Jan 31, 2020",3.08 (1.16%),257.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67900,67901,Apr 28 2020,FLEX - Flex Ltd.,9.11,+0.30 (+3.41%),9.11,8.81,9.11,8.87 - 9.31,5.36 - 14.00,4175426.00,5924769.0,4.591B,1.88,NaN,-0.05,7-May-20,N/A (N/A),12.83
67901,67902,Apr 28 2020,"MEI - Methode Electronics, Inc.",29.84,+0.32 (+1.08%),29.84,29.52,30.19,29.70 - 30.75,21.76 - 41.70,206184.00,236257.0,1.107B,1.43,9.72,3.07,"Jun 18, 2020 - Jun 22, 2020",0.44 (1.49%),33.33
67902,67903,Apr 28 2020,IEC - IEC Electronics Corp.,7.01,0.00 (0.00%),7.01,7.01,7.10,6.93 - 7.10,5.00 - 9.57,3880.00,34352.0,72.812M,0.94,15.24,0.46,6-May-20,N/A (N/A),11.50
67903,67904,Apr 28 2020,"MGLN - Magellan Health, Inc.",55.11,-0.03 (-0.05%),55.11,55.14,54.74,53.28 - 56.21,30.60 - 81.04,167075.00,193042.0,1.361B,0.97,24.17,2.28,11-May-20,N/A (N/A),67.67
67904,67905,Apr 28 2020,"ZS - Zscaler, Inc.",66.72,-3.75 (-5.32%),66.72,70.47,71.00,66.26 - 71.20,35.00 - 89.54,3035697.00,3062403.0,8.63B,0.54,NaN,-0.50,20-Feb-20,N/A (N/A),67.62

In [22]:
# Show the type

print(df.dtypes)

no                     int64
date                  object
company_name          object
price_at_close       float64
price_change          object
price_after_hours    float64
previous_close       float64
today opened         float64
price range           object
52 week range         object
volume                object
average volume       float64
market cap            object
beta (3Y Monthly)    float64
PE Ratio             float64
EPS                  float64
earnings date         object
Dividend Yield        object
1Y target est        float64
dtype: object

In [23]:
# convert the 'date' column to datetime format

df['date']= pd.to_datetime(df['date'])

In [24]:
# Show the type, date columnn should be converted to  datetime type instead of object

df.dtypes

no                            int64
date                 datetime64[ns]
company_name                 object
price_at_close              float64
price_change                 object
price_after_hours           float64
previous_close              float64
today opened                float64
price range                  object
52 week range                object
volume                       object
average volume              float64
market cap                   object
beta (3Y Monthly)           float64
PE Ratio                    float64
EPS                         float64
earnings date                object
Dividend Yield               object
1Y target est               float64
dtype: object

In [25]:
# Show the .head()

df.head(n=6)

,no,date,company_name,price_at_close,price_change,price_after_hours,previous_close,today opened,price range,52 week range,volume,average volume,market cap,beta (3Y Monthly),PE Ratio,EPS,earnings date,Dividend Yield,1Y target est
0,1,2019-11-21,GOOG - Alphabet Inc.,1301.35,-1.70 (-0.13%),1301.35,1303.05,1301.48,"1,293.01 - 1,312.45","970.11 - 1,335.53",825205.00,1280155.0,897.113B,1.01,27.93,46.60,NaN,N/A (N/A),1487.52
1,2,2019-11-21,GOOGL - Alphabet Inc.,1300.14,-1.72 (-0.13%),1300.14,1301.86,1299.25,"1,290.75 - 1,311.04","977.66 - 1,333.92",1058179.00,1296875.0,897.098B,1.01,27.90,46.60,"Feb 3, 2020 - Feb 7, 2020",N/A (N/A),1459.33
2,3,2019-11-21,IBM - International Business Machines Corporation,133.84,+0.64 (+0.48%),133.84,133.20,133.40,132.98 - 134.17,105.94 - 152.95,2732256.00,3483052.0,118.534B,1.34,15.55,8.60,21-Jan-20,6.48 (4.86%),148.30
3,4,2019-11-21,MSFT - Microsoft Corporation,149.48,-0.14 (-0.09%),149.48,149.62,149.40,148.51 - 149.80,93.96 - 151.33,16125077.00,22813109.0,1.14T,1.23,28.20,5.30,"Jan 28, 2020 - Feb 3, 2020",2.04 (1.36%),160.16
4,5,2019-11-21,AAPL - Apple Inc.,262.01,-1.18 (-0.45%),262.01,263.19,263.69,261.18 - 264.01,142.00 - 268.00,28768117.00,25813040.0,1.184T,1.25,22.04,11.89,"Jan 27, 2020 - Jan 31, 2020",3.08 (1.16%),257.21
5,6,2019-11-21,"AMZN - Amazon.com, Inc.",1734.71,-10.82 (-0.62%),1734.71,1745.53,1743.00,"1,730.46 - 1,746.80","1,307.00 - 2,035.80",2363912.00,2944623.0,860.064B,1.57,76.87,22.57,"Jan 29, 2020 - Feb 3, 2020",N/A (N/A),2183.86

In [26]:
# Show the .tail()

df.tail(n=6)

,no,date,company_name,price_at_close,price_change,price_after_hours,previous_close,today opened,price range,52 week range,volume,average volume,market cap,beta (3Y Monthly),PE Ratio,EPS,earnings date,Dividend Yield,1Y target est
67899,67900,2020-04-28,PLXS - Plexus Corp.,62.36,+1.80 (+2.97%),62.36,60.56,61.77,61.77 - 64.18,35.16 - 86.53,220017.00,188241.0,1.82B,1.04,17.83,3.50,"Jul 15, 2020 - Jul 20, 2020",N/A (N/A),66.75
67900,67901,2020-04-28,FLEX - Flex Ltd.,9.11,+0.30 (+3.41%),9.11,8.81,9.11,8.87 - 9.31,5.36 - 14.00,4175426.00,5924769.0,4.591B,1.88,NaN,-0.05,7-May-20,N/A (N/A),12.83
67901,67902,2020-04-28,"MEI - Methode Electronics, Inc.",29.84,+0.32 (+1.08%),29.84,29.52,30.19,29.70 - 30.75,21.76 - 41.70,206184.00,236257.0,1.107B,1.43,9.72,3.07,"Jun 18, 2020 - Jun 22, 2020",0.44 (1.49%),33.33
67902,67903,2020-04-28,IEC - IEC Electronics Corp.,7.01,0.00 (0.00%),7.01,7.01,7.10,6.93 - 7.10,5.00 - 9.57,3880.00,34352.0,72.812M,0.94,15.24,0.46,6-May-20,N/A (N/A),11.50
67903,67904,2020-04-28,"MGLN - Magellan Health, Inc.",55.11,-0.03 (-0.05%),55.11,55.14,54.74,53.28 - 56.21,30.60 - 81.04,167075.00,193042.0,1.361B,0.97,24.17,2.28,11-May-20,N/A (N/A),67.67
67904,67905,2020-04-28,"ZS - Zscaler, Inc.",66.72,-3.75 (-5.32%),66.72,70.47,71.00,66.26 - 71.20,35.00 - 89.54,3035697.00,3062403.0,8.63B,0.54,NaN,-0.50,20-Feb-20,N/A (N/A),67.62

In [27]:
# get column names

print(df.columns)

Index(['no', 'date', 'company_name', 'price_at_close', 'price_change',
       'price_after_hours', 'previous_close', 'today opened', 'price range',
       '52 week range', 'volume', 'average volume', 'market cap',
       'beta (3Y Monthly)', 'PE Ratio', 'EPS', 'earnings date',
       'Dividend Yield', '1Y target est'],
      dtype='object')

In [28]:
# Print to see what is the type of your data set

print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [29]:
# get the number of rows and columns

print(df.shape)

(67905, 19)

In [30]:
# Use groupby() and find the mean of price at close for each company

df.groupby('company_name')[['price_at_close','previous_close']].mean()

                                      price_at_close  previous_close
company_name
A - Agilent Technologies, Inc.             79.074615       79.194231
AAL -                                      16.040000       18.530000
AAL - American Airlines Group Inc.         20.505844       20.616753
AAP -                                     126.920000      132.900000
AAP - Advance Auto Parts, Inc.            127.387532      127.583247
...                                              ...             ...
ZS -                                       52.693333       52.500000
ZS - Zscaler, Inc.                         58.650500       58.749250
ZTS - Zoetis Inc.                         128.024889      128.008111
ZYNE -                                      4.163333        4.190000
ZYNE - Zynerba Pharmaceuticals, Inc.        4.222143        4.261667

[1486 rows x 2 columns]

In [31]:
df.groupby(df.date.dt.year)['price_at_close'].mean()

date
2019    207.241430
2020    480.823163
Name: price_at_close, dtype: float64

In [32]:
# Use groupby() and find the mean of price at close, average volume, and PE Ratio for each company

multi_group_var = df.groupby(['company_name'])[['price_at_close', 'average volume','PE Ratio']].mean()

multi_group_var

,price_at_close,average volume,PE Ratio
company_name,,,
"A - Agilent Technologies, Inc.",79.074615,2.027641e+06,28.374615
AAL -,16.040000,NaN,NaN
AAL - American Airlines Group Inc.,20.505844,1.770994e+07,5.564416
AAP -,126.920000,NaN,NaN
"AAP - Advance Auto Parts, Inc.",127.387532,1.082102e+06,19.659610
...,...,...,...
ZS -,52.693333,NaN,NaN
"ZS - Zscaler, Inc.",58.650500,2.560452e+06,NaN
ZTS - Zoetis Inc.,128.024889,2.301276e+06,41.727667
ZYNE -,4.163333,NaN,NaN
"ZYNE - Zynerba Pharmaceuticals, Inc.",4.222143,5.825955e+05,NaN