# Assignment 02
## Name: Matt Briskey

In [3]:
# load the data
import pandas as pd

df = pd.read_csv('C:/Users/16145/Google Drive/MSDA/COMP 612 Computing for Data Analytics/stocks_yahoo.csv')

In [7]:
# Show the .head()


print(df.head(n=6))

   no        date                                       company_name  \
0   1  11/21/2019                               GOOG - Alphabet Inc.
1   2  11/21/2019                              GOOGL - Alphabet Inc.
2   3  11/21/2019  IBM - International Business Machines Corporation
3   4  11/21/2019                       MSFT - Microsoft Corporation
4   5  11/21/2019                                  AAPL - Apple Inc.
5   6  11/21/2019                            AMZN - Amazon.com, Inc.

   price_at_close     price_change  price_after_hours  previous_close  \
0         1301.35   -1.70 (-0.13%)            1301.35         1303.05
1         1300.14   -1.72 (-0.13%)            1300.14         1301.86
2          133.84   +0.64 (+0.48%)             133.84          133.20
3          149.48   -0.14 (-0.09%)             149.48          149.62
4          262.01   -1.18 (-0.45%)             262.01          263.19
5         1734.71  -10.82 (-0.62%)            1734.71         1745.53

   today opened          price range        52 week range      volume  \
0       1301.48  1,293.01 - 1,312.45    970.11 - 1,335.53    825205.0
1       1299.25  1,290.75 - 1,311.04    977.66 - 1,333.92   1058179.0
2        133.40      132.98 - 134.17      105.94 - 152.95   2732256.0
3        149.40      148.51 - 149.80       93.96 - 151.33  16125077.0
4        263.69      261.18 - 264.01      142.00 - 268.00  28768117.0
5       1743.00  1,730.46 - 1,746.80  1,307.00 - 2,035.80   2363912.0

   average volume market cap  beta (3Y Monthly)  PE Ratio    EPS  \
0       1280155.0   897.113B               1.01     27.93  46.60
1       1296875.0   897.098B               1.01     27.90  46.60
2       3483052.0   118.534B               1.34     15.55   8.60
3      22813109.0      1.14T               1.23     28.20   5.30
4      25813040.0     1.184T               1.25     22.04  11.89
5       2944623.0   860.064B               1.57     76.87  22.57

                 earnings date Dividend Yield  1Y target est
0                          NaN      N/A (N/A)        1487.52
1    Feb 3, 2020 - Feb 7, 2020      N/A (N/A)        1459.33
2                    21-Jan-20   6.48 (4.86%)         148.30
3   Jan 28, 2020 - Feb 3, 2020   2.04 (1.36%)         160.16
4  Jan 27, 2020 - Jan 31, 2020   3.08 (1.16%)         257.21
5   Jan 29, 2020 - Feb 3, 2020      N/A (N/A)        2183.86

In [8]:
# Show the .tail()


print(df.tail(n=6))

          no       date                     company_name  price_at_close  \
67899  67900  4/28/2020              PLXS - Plexus Corp.           62.36
67900  67901  4/28/2020                 FLEX - Flex Ltd.            9.11
67901  67902  4/28/2020  MEI - Methode Electronics, Inc.           29.84
67902  67903  4/28/2020      IEC - IEC Electronics Corp.            7.01
67903  67904  4/28/2020     MGLN - Magellan Health, Inc.           55.11
67904  67905  4/28/2020               ZS - Zscaler, Inc.           66.72

         price_change  price_after_hours  previous_close  today opened  \
67899  +1.80 (+2.97%)              62.36           60.56         61.77
67900  +0.30 (+3.41%)               9.11            8.81          9.11
67901  +0.32 (+1.08%)              29.84           29.52         30.19
67902    0.00 (0.00%)               7.01            7.01          7.10
67903  -0.03 (-0.05%)              55.11           55.14         54.74
67904  -3.75 (-5.32%)              66.72           70.47         71.00

         price range  52 week range     volume  average volume market cap  \
67899  61.77 - 64.18  35.16 - 86.53   220017.0        188241.0      1.82B
67900    8.87 - 9.31   5.36 - 14.00  4175426.0       5924769.0     4.591B
67901  29.70 - 30.75  21.76 - 41.70   206184.0        236257.0     1.107B
67902    6.93 - 7.10    5.00 - 9.57     3880.0         34352.0    72.812M
67903  53.28 - 56.21  30.60 - 81.04   167075.0        193042.0     1.361B
67904  66.26 - 71.20  35.00 - 89.54  3035697.0       3062403.0      8.63B

       beta (3Y Monthly)  PE Ratio   EPS                earnings date  \
67899               1.04     17.83  3.50  Jul 15, 2020 - Jul 20, 2020
67900               1.88       NaN -0.05                     7-May-20
67901               1.43      9.72  3.07  Jun 18, 2020 - Jun 22, 2020
67902               0.94     15.24  0.46                     6-May-20
67903               0.97     24.17  2.28                    11-May-20
67904               0.54       NaN -0.50                    20-Feb-20

      Dividend Yield  1Y target est
67899      N/A (N/A)          66.75
67900      N/A (N/A)          12.83
67901   0.44 (1.49%)          33.33
67902      N/A (N/A)          11.50
67903      N/A (N/A)          67.67
67904      N/A (N/A)          67.62

In [5]:
# get column names

print(df.columns)

Index(['no', 'date', 'company_name', 'price_at_close', 'price_change',
       'price_after_hours', 'previous_close', 'today opened', 'price range',
       '52 week range', 'volume', 'average volume', 'market cap',
       'beta (3Y Monthly)', 'PE Ratio', 'EPS', 'earnings date',
       'Dividend Yield', '1Y target est'],
      dtype='object')

In [6]:
# Print to see what is the type of your data set
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
# get the number of rows and columns

print(df.shape)

In [ ]:
# Use groupby() and find the mean on your selected colum/s.

In [9]:
# For each year in our data, what was the average life expectancy?
# To answer this question,
# we need to split our data into parts by year;
# then we get the 'lifeExp' column and calculate the mean

print(df.groupby('company_name')['price_at_close'].mean())

company_name
A - Agilent Technologies, Inc.           79.074615
AAL -                                    16.040000
AAL - American Airlines Group Inc.       20.505844
AAP -                                   126.920000
AAP - Advance Auto Parts, Inc.          127.387532
                                           ...
ZS -                                     52.693333
ZS - Zscaler, Inc.                       58.650500
ZTS - Zoetis Inc.                       128.024889
ZYNE -                                    4.163333
ZYNE - Zynerba Pharmaceuticals, Inc.      4.222143
Name: price_at_close, Length: 1486, dtype: float64